<html>
{% extends 'base.html' %}
{% block title %}Rooting for You{% endblock %}
{% block body %}
<head>
    <title>Rooting for You</title>
    <link rel="stylesheet" href="static/styles_homepage.css">
    
</head>
<body class="home" style="display:flex;justify-content:center;align-items:center;">
    <div class="container_home" >
     <div class="header"><h1>
      </svg>Rooting for You<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-flower1" viewBox="0 0 16 16">
        
      </svg></h1>
     
     </div> 
      <h2>
      </svg>Create an Account<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-flower1" viewBox="0 0 16 16">
      </svg></h2>
      <form action="/users" method="POST">
        <p>
            First Name <input type="text" name="fname">
        </p>

        <p>
            Last Name <input type="text" name="lname">
          </p>

        <p>
          Email <input type="text" name="email">
        </p>

        <p>
          Password <input type="password" name="password">
        </p>
        <p>
          Zip Code <input type="text" name="zipCodeTB" id='zipCodeTB'>
        </p>
        <p>
          <input type="submit">
        </p>
      </form>
    
      <h2>
      </svg>Log In<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-flower1" viewBox="0 0 16 16">
      </svg></h2>
      <form action="/login" method="POST">
        <p>
          Email <input type="text" name="email">
        </p>

        <p>
          Password <input type="password" name="password">
        </p>

        <p>
          <input type="submit">
        </p>
      </form>
    </div>
    


</body>
{% endblock %}
</html>