{% extends 'base.html' %}

{% block title %} {{ plant.name }} - Details{% endblock %}

{% block body %}
<h1>{{ plant.name }}</h1>
  <img src="{{ plant.image_url }}">
<p>
  <h2>Growing Instructions</h2>
  <h4>Description:</h4>
  {{ plant.description }}<br>
  <h4>{{ plant.name }} Transplanting:</h4>
  {{ plant.transplanting }}<br>
  <h4>{{ plant.name }} Grow from Seed:</h4>
  {{ plant.growing_from_seed }}<br>

  <h4>Optimal Amount of Sun for {{ plant.name }} :</h4>
  {{ plant.optimal_sun }}<br>
  <h4>Optimal Soil for {{ plant.name }} :</h4>
  {{ plant.optimal_soil }}<br>
  <h4>Spacing:</h4>
  {{ plant.spacing }}<br>
  <h4>Watering Instructions:</h4>
  {{ plant.watering }}<br>
  <h4>Tips on Fertilizing:</h4>
  {{ plant.feeding }}<br>
  <h4>Diseases to Watch for:</h4>
  {{ plant.diseases }}<br>
  <h4>Pests to Watch for:</h4>
  {{ plant.pests }}<br>
  <h4>{{ plant.name }} Considerations:</h4>
  {{ plant.planting_considerations }}<br>
  <h4>{{ plant.name }} Harvesting:</h4>
  {{ plant.harvesting }}<br>
  <h4>Storage:</h4>
  {{ plant.storage_use }}<br>
  <h4>Other Care:</h4>
  {{ plant.other_care }}<br>
  
</p>




{% endblock %}

