{% extends 'base.html' %}
{% include "index.html" %}

{% block title %}Plant Selection{% endblock %}

{% block body %}
  <h1>Start your Garden!</h1>
  <h2>First step is selecting which plants you want in your garden!</h2>
  <form class = "sorted" action="/plant_selection" method="POST">
  <ul>
    {% for plant in plants %}

        <input type="checkbox" name="plant_options" value="{{ plant.plant_id }}">
        <label for="plant_options"> {{ plant.name }}</label><br> 
    
    {% endfor %}
  </ul>
  <input type="submit">
</form>
{% endblock %}
