{% extends 'base.html' %}

{% include "index.html" %}


{% block title %} {{ plant.name }} - Details{% endblock %}

{% block body %}
<head>
  <title>Rooting for You</title>
  <link rel="stylesheet" href="/static/styles_plant_info.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima:wght@100;300;600&family=Playfair+Display:wght@500&family=Quando&display=swap" rel="stylesheet">
</head>

<body>
  <h1>{{ plant.name }}</h1>

  <img src=" /static/images/{{plant.name}}.png" >
  <h2>Growing Instructions</h2>
<p>
  <div class="container">
    <div class="row row-cols-2 row-cols-lg-3">
      <div class="col"> <h4>Description:</h4>
        {{ plant.description }} <br></div>
           <div class="col"><h4> Harvesting:</h4>
        {{ plant.harvesting }}<br></div><br>
        <div class="col"><h4>Companion Plants:</h4>
          {{ plant.companion_plants }}<br></div>
        <div class="col"> <h4>Transplanting:</h4>
          {{ plant.transplanting }}<br></div>
      <div class="col"><h4>Grow from Seed:</h4>
        {{ plant.growing_from_seed }}</div>
            <div class="col"><h4>Considerations:</h4>
        {{ plant.planting_considerations }}<br></div>
      <div class="col-4 col-lg-2"><h4>Optimal Amount of Sun for {{ plant.name }} :</h4>
        {{ plant.optimal_sun }}<br></div>
      <div class="col-4 col-lg-2"> <h4>Optimal Soil for {{ plant.name }} :</h4>
        {{ plant.optimal_soil }}<br></div>
      <div class="col-4 col-lg-2"><h4>Spacing:</h4>
        {{ plant.spacing }}<br></div>
      <div class="col-4 col-lg-2"> <h4>Watering Instructions:</h4>
        {{ plant.watering }}<br></div>
      <div class="col-4 col-lg-2"><h4>Tips on Fertilizing:</h4>
        {{ plant.feeding }}<br></div>
      <div class="col-4 col-lg-2"><h4>Diseases to Watch for:</h4>
        {{ plant.diseases }}<br></div>
      <div class="col-4 col-lg-2">  <h4>Pests to Watch for:</h4>
        {{ plant.pests }}<br></div>
      <div class="col-4 col-lg-2">  <h4>Other Care:</h4>
        {{ plant.other_care }}<br></div>

    <div class="col-4 col-lg-2">  <h4>Plant Storage:</h4>
      {{ plant.storage_use }}<br></div>
  </div>
  </div>
  
  
  
</p>

</body>

{% endblock %}


