{% extends 'base.html'%}

{% include "index.html" %}


{% block title %} {{ user.fname }}'s Page{% endblock %}

{% block body %}
<h1>My Garden </h1>
<h6>Your Zone:</h6>
  {{ user.zone }}
  <h6>Your Last Frost Dates:</h6>
  {{ user.last_frost_date }}<br>
<h4>My Garden Plants:</h4>
  <!-- <ul>
    <li><a href="/plants">Select your garden plants</a></li>
      </ul> -->

<ul>
    {% for user_selected_plant in user.selected_plants %}
        <li>
            <a href="/plants/ {{ user_selected_plant.plant.plant_id }}">{{ user_selected_plant.plant.name }}</a>
            
        </li>
    {% endfor %}
</ul>
{% endblock %}